<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SOS Lesson Library: Book-based Instruction</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <!-- Font Awesome: TM-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Fonts:-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Fredoka+One&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <section class="logo">
            <h1 class="initials">SOS</h1>
            <div>
              <h1>Lesson</h1>
              <h1>Library</h1>
             </div>
            </section>
          <ul>
            <%if(user){%>
              <li> <a href="/lessons">Browse</a> </li> 
              <li> <a href="/profile">Profile</a></li>
              <li> <a href="/logout">Logout</a></li>
            <%}else{ %>
              <li> <a href="/lessons"></i>Browse</a> </li> 
              <li> <a href="/login">Login</a></li>
              <li> <a href="/signup">Signup</a></li>
            <%}%>

         
          </ul>
        </nav> 
    </header>
  </body>
</html>
