<%- include('partials/header') -%>

<main>
        <section class="hero">
          <h1 class="">SOS Lesson Library</h1>
          <span><i>Book based instruction for when you are in a pinch”</i></span>
          <img id='heroimage'>
        </section>
</main>
    

<%- include('partials/footer') -%>