<%- include('partials/header') -%>

<main>
        <section class="hero">
          <h1 class="">SOS Lesson Library</h1>
          <span>Book based instruction for when you are in a pinch”</span>
        </section>
        <section class="main">
          <div class="maintext">
            <p>This resource was built for teachers. Browse our book-based vocabulary lesson plans. All you need is the book and to tell your students to get out their journals.  
            </p>
           
          </div>
          <div class="mainimage">
            <img id='heroimage'>
          </div>
        </section>
</main>
    

<%- include('partials/footer') -%>