<%- include('partials/header') -%>

<main>
  <h1  class="authMessage">Welcome back!</h1>
  <div class="box-login_parent">
    <section class="box-login">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="highlight"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="highlight"><%= el.msg %></div>
      <% }) %> <% } %>
      <form class="box-login_form" action="/login" method="POST">
        <div>
          <label for="exampleInputEmail1" class="form-label">Email address:</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div>
          <label for="exampleInputPassword1" class="form-label">Password:</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <button type="submit">Submit</button>
      </form>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>
