* {
font-family: 'Lato', sans-serif;
font-size: 20px;
text-decoration: none;
list-style: none;
}

nav {
    display: flex;
    align-items: center;
    background-image: linear-gradient(45deg, #38468b,#6963c7);
    margin: auto;
    color: white;
    box-shadow: 2px 2px 10px #34344A;
    font-weight: 700;
    
}

.logo {
    display: flex;
    width: 40%;
}

.logo div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.logo div * {
    margin: 0 0;
    font-size:25px;
}
.initials {
    font-family: 'Fredoka One', cursive;
    font-size:65px;
    margin: 0 0;
    padding-left: 30px;
    padding-right: 5px;
}

nav ul {
    display: flex;
    width: 60%;
    justify-content: flex-end;
    padding-right: 30px;

}

nav ul * {
    padding-right: 20px;
}


a {
    text-decoration: none;
    color: black;
}
nav a:link, nav a:visited {
    color: white;
}
nav a:hover {
    color: #34344A;
}


/***************** Index Page ************************/
.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.main {
    display:flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 70px;
}

#title {
    font-size: 100px;
}

.title {
    display: flex;
    align-items: center;
    font-size: 50px;
}
#tagline {
    font-weight: 900;
    color: #FF5050;
    font-style: italic;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top:-10px;
}
.maintext {
width: 500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
padding-right: 15px;
}

.maintext p {
    text-align: right;
}

.mainimage {
    padding-left: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
}
#heroimage {
    height: 290px;
    width: 580px;
    background-image: url("/imgs/seacreaturesbook.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

/******************   Profile   ***********************/
.dashboard {
    width: 100%;
    height: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.dashboard p:first-child {
    font-size: 35px;
    font-weight: 700;
    margin: 40px 0 0 0;
}

.dashboard .username {
    font-family: 'Fredoka One', cursive;
}
.dashboard-options {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-options_box {
    width: 200px;
    height: 60px;
    background-image: linear-gradient(45deg, #38468b,#6963c7);
    border: 1.4px solid #34344A;
    border-radius: 15px; 
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;

}

.dashboard-options_box * {
    color:white;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer {
    background-image: linear-gradient(45deg, #38468b,#6963c7);
    box-shadow: 2px 2px 10px #34344A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: white;
}

.footer span {
    font-size: 15px;
}

/*************** Library ************************/
.lessonFilterOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 0px 10px;
    height: 50px;
}

.lessonFilterOptions *  {
    margin: 10px 10px 0px 10px;
}

.library {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#empty {
    color:#38468b;
    font-size: 30px;
    margin: 0px 0px;
    align-self: center;
}

#message {
    color:#38468b;
    font-size: 30px;
    margin: 15px 0px 0px 0px;
    align-self: center;
}

/************ lesson card *******************/

.loggedin{
    width: 100%;
    background-image: linear-gradient(45deg, #FF5050 ,#ED928E);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}

.loggedin-row{
    width: 100%;
    background-image: linear-gradient(45deg, #FF5050 ,#ED928E);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 700;
}

.loggedin-row p {
    margin: 40px 10px;
    font-size: 30px;
}

.loggedin_buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.loggedin_buttons * {
   margin: 0 5px 0 5px;
}
.lesson_collapsed {
    width: 650px;
    margin: 20px 0px;
    border: 40px solid #38468b;
    border-bottom: 5px solid #38468b;
    border-top: 5px solid #38468b;
    border-radius: 5px;
    border-image: linear-gradient(45deg, #38468b,#6963c7) 1;
    display: flex;
    flex-direction: column;
    background: transparent;
    box-shadow: 6px 6px 10px #e3ded8;
}


.lesson_expanded {
    width: 650px;
    margin: 20px 0px;
    border: 40px solid #38468b;
    border-bottom: 5px solid #38468b;
    border-top: 5px solid #38468b;
    border-radius: 5px;
    border-image: linear-gradient(45deg, #38468b,#6963c7) 1;
    display: flex;
    flex-direction: column;
    background: transparent;
    box-shadow: 6px 6px 10px #e3ded8;;
}



.bookinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
    height: 90px;   
}

.bookinfo * {
    padding: 0 3px;
    font-size: 30px;
    color: black;
}

.bookinfo_expanded {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.bookinfo_expanded * {
    padding: 0 3px;
    font-size: 30px;
    color: black;
}

.highlight {
    color: #FF5050  ;
    font-weight: 900;
}

.highlight2 {
    color: #ffffff  ;
    font-weight: 900;
}


.lessoninfo {
    display: flex;
    flex-direction: column;
}

.lessoninfo {
    display: flex;
    flex-direction: column;
}

.lessoninfo h4{
  text-align: center;
 }

.lessoninfo span{
   text-align: center;
   margin: 15px 0px;
}

.lesson_vocabSkill {
 align-self: center;
 margin-top: 5px;
 margin-bottom: 5px;
}

.lesson_author {
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.shortdescription {
    margin: 5px 20px;
    height:105px;
}

.longdescription {
    margin: 5px 20px;
    font-weight: 500;
}
/* for button plan
.readmore {
    width: 100px;
    align-self: flex-end;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 0px;
} */

.readmore {
    align-self: flex-end;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: -10px;
    font-weight: 400;
}

.readmore:hover {
    font-weight:700;
}

.btn {
    border: 1.4px solid #34344A;
    padding: 8px 10px 5px 10px;
    background-image: linear-gradient(45deg, #FF5050 ,#DAD4CC);
    border-radius: 5px ;
    font-weight: 700;
    height: 30px;
    box-shadow: 1px 1px 2px #DAD4CC;
}


.btn-browse {
    width: 200px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
    background-image: linear-gradient(45deg, #FF5050 ,#DAD4CC);
    
}

.btn-return {
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(45deg, #FF5050 ,#DAD4CC);
    border: 0px;
    
}



.btn-home {
    width: 200px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
    background-image: linear-gradient(45deg, #38468b,#6963c7);
    color:white;

}


.browse * {
    justify-content: center;
}


/* Login and sign up */
.box-login_parent {
    display: flex;
    justify-content: center;
    align-content: center;
}

.box-login {
    width: 400px;
    height: 215px;
    margin-top: 20px;
    margin-bottom: 100px;
    border: 40px solid #38468b;
    border-bottom: 5px solid #38468b;
    border-top: 5px solid #38468b;
    border-radius: 5px;
    border-image: linear-gradient(45deg, #38468b,#6963c7) 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    box-shadow: 6px 6px 10px #e3ded8;
}

.box-login_form {
    height: 200px;
    margin:auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.box-login_form * {
   
    margin: 6px 0px;
}

.box-signup {
    width: 450px;
    height: 280px;
    margin-top: 20px;
    margin-bottom: 100px;
    border: 40px solid #38468b;
    border-bottom: 5px solid #38468b;
    border-top: 5px solid #38468b;
    border-radius: 5px;
    border-image: linear-gradient(45deg, #38468b,#6963c7) 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    box-shadow: 6px 6px 10px #e3ded8;
}


.box-signup_form {
    height: 515px;
    margin:auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.box-signup_form * {
   
    margin: 3px 0px;
}

.authMessage{
    width: 100%;
    height: 70px;
    font-size: 35px;
    background-image: linear-gradient(45deg, #FF5050 ,#ED928E);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}

