* {
font-family: 'Lato', sans-serif;
font-size: 20px;
text-decoration: none;
list-style: none;
}

nav {
    display: flex;
    align-items: center;
    background-color:  #38468b;
    margin: auto;
    color: white;
    
}

.logo {
    display: flex;
    width: 40%;
}

.logo div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.logo div * {
    margin: 0 0;
    font-size:25px;
}
.initials {
    font-family: 'Fredoka One', cursive;
    font-size:65px;
    margin: 0 0;
    padding-left: 30px;
    padding-right: 5px;
}

nav ul {
    display: flex;
    width: 60%;
    justify-content: flex-end;
    padding-right: 30px;

}

nav ul * {
    padding-right: 20px;
}


a {
    text-decoration: none;
    color: black;
}
nav a:link, nav a:visited {
    color: white;
}
nav a:hover {
    color: black;
}


/***************** Index Page ************************/
#heroimage {
    height: 290px;
    width: 500px;
    background-image: url("/imgs/seacreaturesbook.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

/******************   Profile   ***********************/
.dashboard {
    width: 100%;
    height: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.dashboard p:first-child {
    font-size: 35px;
    font-weight: 700;
    margin: 40px 0 0 0;
}

.dashboard .username {
    font-family: 'Fredoka One', cursive;
}
.dashboard-options {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dashboard-options_box {
    width: 200px;
    height: 60px;
    background-color: #38468b;
    border-radius: 15px; 
    display:flex;
    align-items: center;
    justify-content: center;

}

.dashboard-options_box * {
    color: white;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer {
    background-color:#38468B;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: white;
}

.footer span {
    font-size: 15px;
}

/*************** Library ************************/
.lessonFilterOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.lessonFilterOptions * {
    padding: 5px 15px;
}
